$color_primary: #ffd1f5;
$color_secundary: #ad0aaddc;
$color_hijo: #739ffd;
$color_hija: #a0f0a0;
$color_nietos: #e98794;
$color_nietas: #ffa600c4;
//Mixing es una variable con dos propiedades distintas, se invoca con @include
@mixin tamanio_nietes {
    width: 30%;
    height: 30%;
    border: 2px solid;
}

@mixin tamanio_hijes {
    width: 30%;
    height: 30%;
    border: 2px solid;
}

@mixin tamanio_padres {
    width: 40vh;
    height: 80vh;
    border: 2px solid;
}

@mixin horizontal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}